{
  "extends": "eslint-config-egg",
  "rules": {
    "arrow-parens": "off",
    "strict": "off",
    "semi": "off",
    "no-empty-function": "off",
    "array-bracket-spacing": "off",
    "space-before-function-paren": "off"
  }
}
